name: cerulean

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: nixbuild/nix-quick-install-action@v30
              with:
                nix_conf: |
                  keep-env-derivations = true
                  keep-outputs = true
            - name: Restore and save Nix store
              uses: nix-community/cache-nix-action@v6
              with:
                # restore and save a cache using this key
                primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
                # if there's no cache hit, restore a cache by this prefix
                restore-prefixes-first-match: nix-${{ runner.os }}-
                # collect garbage until the Nix store size (in bytes) is at most this number
                # before trying to save a new cache
                # 1G = 1073741824
                gc-max-store-size-linux: 1G
                # do purge caches
                purge: true
                # purge all versions of the cache
                purge-prefixes: nix-${{ runner.os }}-
                # created more than this number of seconds ago
                purge-created: 0
                # or last accessed this duration (ISO 8601 duration format)
                # before the start of the `Post Restore and save Nix store` phase
                purge-last-accessed: P1DT12H
                # except any version with the key that is the same as the `primary-key`
                purge-primary-key: never

            - uses: actions/checkout@v3
            - name: Install Nix
              uses: cachix/install-nix-action@v17
              with:
                extra_nix_config: |
                  access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

            - name: Set git name 
              run: git config --global user.name "cerulean-ci"

            - name: Set git email
              run: git config --global user.email "ci@coruscation.net"

            - name: Running Tests
              shell: 'nix develop .#ci -c bash -e {0}'
              run: make test-all

            - name: Publish Docker Images
              shell: 'nix develop .#ci -c bash -e {0}'
              run: make docker-publish
              env:
                CERULEAN_PASSPHRASE: ${{ secrets.CERULEAN_PASSPHRASE }}
